@tailwind base;
@tailwind components;
@tailwind utilities;

a {
	@apply transition duration-500 ease-in-out hover:text-pink-500;
}

hr {
	height: 1px;
	width: 75%;
	margin: 0 auto;
	border: 0;
	@apply bg-gradient-to-r from-purple-400 via-pink-500 to-red-500;
}

li::marker {
	@apply text-gray-500;
}

.text-gradient {
	@apply bg-gradient-to-r from-purple-400 via-pink-500 to-red-500;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
